XmlDemo/employees.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="employees">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="employee">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="first_name" type="xs:string" minOccurs="1"/>
                            <xs:element name="last_name" type="xs:string" minOccurs="1"/>
                            <xs:element name="email" type="xs:string" minOccurs="1"/>
                            <xs:element name="job_id" type="xs:string" minOccurs="1" />
                            <xs:element name="salary" type="xs:decimal" minOccurs="0"/>
                            <xs:element name="department_id" type="xs:unsignedLong" minOccurs="0" />
                            <xs:element name="manager_id" type="xs:unsignedLong" minOccurs="0" />
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:unsignedLong" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>